
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1339" style="background-color: white;">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group" style="color: black;">
            <h2 class="cs-title" style="color: black;">STOP SETTLING FOR LESS. BE BETTER.</h2>
            <!-- <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-1a.svg" alt="facebook" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit twitter profile" href="">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-1a.svg" alt="twitter" width="6" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href="">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-1a.svg" alt="instagram" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit youtube profile" href="">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-1a.svg" alt="instagram" width="11" height="11">
                </a>
            </div> -->
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header" style="color: black;">Quick Links</span>
            <ul class="cs-ul">
                <!-- <li class="cs-li">
                    <a class="cs-link" href="">Services</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Projects</a>
                </li> -->
                <li class="cs-li">
                    <a class="cs-link" href="/about" style="color: black;">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/pricing" style="color: black;">Pricing</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact" style="color: black;">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header" style="color: black;">Contact</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:405-761-8429" style="color: black;">
                        <img class="cs-icon" style="filter: invert(1);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-white.svg" alt="phone icon" width="24" height="24">
                        405-761-8429
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:jordan.babb.1999@gmail.com" style="color: black;" >
                        <img class="cs-icon" style="filter: invert(1);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-white.svg" alt="email icon" width="24" height="24">
                        jordan.babb.1999@gmail.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="/contact" target="_blank" style="color: black;">
                        <img class="cs-icon" style="filter: invert(1);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-white.svg" alt="pin icon" width="24" height="24">
                        Norman, OK
                    </a>
                </li>
            </ul>
            <!-- Contact Info -->
            <span class="cs-header">Contact</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:918-260-5366" style="color: black;">
                        <img class="cs-icon" style="filter: invert(1);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-white.svg" alt="phone icon" width="24" height="24">
                        918-260-5366
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:davidfletcher354@gmail.com" style="color: black;">
                        <img class="cs-icon" style="filter: invert(1);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-white.svg" alt="email icon" width="24" height="24">
                        davidfletcher354@gmail.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="/contact" target="_blank" style="color: black;">
                        <img class="cs-icon" style="filter: invert(1);" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-white.svg" alt="pin icon" width="24" height="24">
                        Tulsa, OK
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 <a href="https://www.betterwebsite.ai" class="cs-credit-link" target="_blank">Better Website</a>
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Privacy Policy</a>
            <a href="" class="cs-bottom-link">Terms Of Use</a>
        </div>
    </div>
</footer>
                                