---
title: 'About | Better Website'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/betterwebsite/BetterWebsite/website.png">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/betterwebsite/BetterWebsite/website.png">
            <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/betterwebsite/BetterWebsite/website.png" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>
<!-- ============================================ -->
<!--                 Side by Side                 -->
<!-- ============================================ -->

<section id="sbs-1901">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture cs-picture1" style="width: 17rem; margin: auto;">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/betterwebsite/BetterWebsite/jordan.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/betterwebsite/BetterWebsite/jordan.png">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/betterwebsite/BetterWebsite/jordan.png" alt="people" width="608" height="406">
            </picture>
            <div class="cs-wrapper cs-wrapper1">
                <span class="cs-topper">Co Founder</span>
                <h2 class="cs-title">David Fletcher</h2>
                <p class="cs-text">
                    I'm David Fletcher, a local web desinger in Tulsa. After spending three years as a small business owner in real estate, I realized how expensive and inaccessible quality websites can be - often costing thousands upfront with no preview. Frustrated by this, we started our business to provide affordable, custome-coded websites for all businesses. My goal is to be your go-to web designer for the next 10+ years.
                </p>
                <a class="cs-button-solid" href="">Call Now</a>
            </div>
        </div>
        <div class="cs-content">
            <picture class="cs-picture cs-picture2" style="width: 17rem; margin: auto">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/betterwebsite/BetterWebsite/david.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/betterwebsite/BetterWebsite/david.png">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/betterwebsite/BetterWebsite/david.png" alt="people">
            </picture>
            <div class="cs-wrapper cs-wrapper2">
                <span class="cs-topper">Co Founder</span>
                <h2 class="cs-title">Jordan Babb</h2>
                <p class="cs-text">
                    I'm Jordan Babb. I love being outside, snowboarding, and reading. I studied Computer Science and have been working in website development for years. I love creating something out of nothing and making client vision come to life!
                </p>
                <a class="cs-button-solid" href="">Call Now</a>
            </div>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}