---
title: 'Project One | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Project One Gallery</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-2013">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">How It Works</span>
            <h2 class="cs-title">Dentistry for The Whole Family</h2>
            <p class="cs-text">
                Orci eu lobortis elementum nibh tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra pharetra massa massa ultricies mi quis.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-calendar2.svg" alt="link" width="20" height="20" loading="lazy" decoding="async">
                <h3 class="cs-h3">Pick your package</h3>
                <p class="cs-item-text">
                    Choose the pricing package that fits your needs. Each package offers unique services tailored to your goals, so you get exactly what you want, at the level you need.
                </p>
                <div class="cs-number-wrapper">
                    <span class="cs-number">01</span>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/calendar.jpg" alt="number" width="48" height="48">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-medical.svg" alt="link" width="20" height="20" loading="lazy" decoding="async">
                <h3 class="cs-h3">Fill out the form</h3>
                <p class="cs-item-text">
                    Provide your details and share your vision! Fill out the form with your information and the specifics of what you want for your website. We'll use this to create a site tailored just for you.
                </p>
                <div class="cs-number-wrapper">
                    <span class="cs-number">02</span>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist10.jpeg" alt="number" width="48" height="48">
                </picture>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-medicine.svg" alt="link" width="20" height="20" loading="lazy" decoding="async">
                <h3 class="cs-h3">See your website!</h3>
                <p class="cs-item-text">
                    Give us at least 72 hours to create your website. Once it's ready, you'll get to preview it. If you love it and approve, complete your purchase and start using your brand-new site!
                </p>
                <div class="cs-number-wrapper">
                    <span class="cs-number">03</span>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/invisalign.jpg" alt="number" width="48" height="48">
                </picture>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

    <section id="pricing-387">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">It’s Easy to Get Started</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
                <div class="cs-toggle-group">
                    <span id="cs-option1-387" class="cs-plan">Monthly</span>
                    <div class="cs-toggle" aria-label="click to switch plans pricing">
                        <span aria-hidden="true" class="cs-toggle-switch"></span>
                    </div>
                    <span id="cs-option2-387" class="cs-plan">One payment</span>
                </div>
            </div>
            <ul class="cs-card-group">
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <div class="cs-top-section">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Standard</h3>
                            <p class="cs-item-text">
                                Perfect to get started.
                            </p>
                        </div>
                        <div class="cs-option-group">
                            <span class="cs-price cs-option1-text">$149<span class="cs-small">month</span></span>
                            <span class="cs-price cs-option2-text">$1499<span class="cs-small">/Once</span></span>
                        </div>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <div class="cs-top-section">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Ultimate</h3>
                            <p class="cs-item-text">
                                Perfect to get started.
                            </p>
                        </div>
                        <div class="cs-option-group">
                            <span class="cs-price cs-option1-text">$300<span class="cs-small">/Month</span></span>
                            <span class="cs-price cs-option2-text">$3000<span class="cs-small">/Once</span></span>
                        </div>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
            </ul>
        </div>
    </section>
    
    {% include 'components/cta.html' %}

{% endblock %}